{% extends 'base.html.twig' %}

{% block title %}Symfony Mailer{% endblock %}

{% block body %}
<p>Message envoyé. 
    <a href="http://127.0.0.1:9428/select/vmui/" target="_blank">Vérifier VictoriaLogs</a>.</p>
{% endblock %}
